{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "no-warning-comments": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "func-names": "off",
    "react/require-default-props": "off",
  }
}
