{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "@osk"],
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "no-warning-comments": "warn",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "ConfigService": {
            "message": "Use `CustomConfigService` for better type safety",
            "fixWith": "CustomConfigService"
          }
        },
        "extendDefaults": false
      }
    ]
  },
  "overrides": [
    {
      "files": "*.controller.ts",
      "rules": {
        "@osk/return-dto-match-api": "error",
        "@osk/require-docs": "error",
        "@typescript-eslint/explicit-function-return-type": "error"
      }
    }
  ]
}
