{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "max-classes-per-file": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Date": {
            "message": "Use ApiDate as `Date` fields are formatted differently on backend and frontend",
            "fixWith": "ApiDate"
          }
        }
      }
    ],
    "no-warning-comments": "warn"
  }
}
